body {
    background-color: gray;
}

ul{
    text-decoration: none;
    text-align: center;
}

li{
    background-color: black;
    color: white;
    list-style-type: none;
    padding: 15px;
    float: left;


}